{% extends 'external-base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Conditions générales d'utilisation</h1>
        <nav>
            <ol>
                <li>
                    <a href="#">Pré-requis</a>
                </li>
                <li>
                    <a href="#">Votre compte</a>
                    <ol>
                        <li>
                            <a href="#">Créer un nouveau compte</a>
                        </li>
                        <li>
                            <a href="#">Nom du compte et mot de passe</a>
                        </li>
                        <li>
                            <a href="#">Responsabilité civile</a>
                        </li>
                        <li>
                            <a href="#">Communication, contenu approprié</a>
                        </li>
                        <li>
                            <a href="#">Transfert de compte</a>
                        </li>
                        <li>
                            <a href="#">Suppression de compte</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#">Comportement</a>
                    <ol>
                        <li>
                            <a href="#">Suggestions</a>
                        </li>
                        <li>
                            <a href="#">Bugs</a>
                        </li>
                        <li>
                            <a href="#">Sécurité</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="#">Informations personnelles</a>
                    <ol>
                        <li>
                            <a href="#">Communications</a>
                        </li>
                        <li>
                            <a href="#">Utilisation des informations personnelles</a>
                        </li>
                        <li>
                            <a href="#">Sécurité des informations personnelles</a>
                        </li>
                        <li>
                            <a href="#">Monitoring</a>
                        </li>
                    </ol>
                </li>
            </ol>
        </nav>
        <div>
            
        </div>
    </div>
{% endblock %}