{% extends 'external-base.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Crédits</h1>
        <dl>
            <dt>
                NASA/JPL-Caltech
            </dt>
            <dd>
                Space-related illustrations, public domain.
            </dd>
            <dt>
                Fearedlion123
            </dt>
            <dd>
                https://commons.wikimedia.org/wiki/File:Space_night_sky.jpg
            </dd>
        </dl>
    </div>
{% endblock %}