<html>
    <body>
        <p>
            Bonsoir,
        </p>
        <p>
            Bienvenue sur Voidfield.
        </p>
        <p>
            Comme ce mail est tempo et que j'ai la flemme, voilà votre mdp:
            <ins>{{ pwd }}</ins>
        </p>
        <p>
            Allez, salut.
        </p>
    </body>
</html>