<fieldset class="container-fluid">
    <legend>
        Spatioport
    </legend>
    <div class="row">{% if hasSpaceport %}
        <fieldset class="col-md-6">
            <legend>Flottes ancrées</legend>
            <div class="row">
                
            </div>
        </fieldset>{% endif %}{% if hasSpacefactory %}
        <fieldset class="col-md-6">
            <legend>Chantier spatial</legend>
            
        </fieldset>{% endif %}
    </div>
</fieldset>