<fieldset class="container-fluid">
    <legend>
        Recherches disponibles
    </legend>
    <p class="">
        <em class="text-info">
            La rercherche sera lancée sur cette colonie.
            Les modificateurs globaux, ainsi que ceux de cette colonie s'appliqueront.
            Une fois la recherche terminée, celle-ci sera disponible dans tout votre empire.
            Vous ne pouvez lancer qu'une recherche par colonie, et celles-ci avancent en parallèle.
        </em><span class="text-warning">
            Attention : si vous perdez le contrôle de votre colonie,
            vous perdrez l'avancement de la recherche si celle-ci n'est pas terminée.
        </span>
    </p>
    <div class="row row-cols-6">
        
    </div>
</fieldset>