<ul class="list-group">
    {% for line in _values %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ line.resource.name }}
            <span class="badge badge-{% if _insufficient and attribute(_insufficient, line.resource.id) is defined %}danger{% else %}primary{% endif %} badge-pill">{{ line.nb }}</span>
        </li>
    {% endfor %}
</ul>