<div aria-live="polite" aria-atomic="true"
     class="ghost-message-container">
    {% for sts in [app.flashes, _messages] %}
        {% for mtype, messages in sts %}
            {% for message in messages %}
                {% include 'comps/toast.html.twig' %}
            {% endfor %}
        {% endfor %}
    {% endfor %}{% for tt in ['ko', 'warn', 'info', 'ok'] %}
    <template id="toast_tpl">
        {% include 'comps/toast.html.twig' with {'mtype': tt, 'message': ''} %}
    </template>{% endfor %}
</div>